
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.claude
.DS_Store
.env
.eslintcache
.idea/
.midnight-expert.vercel/
.node_repl_history
.npm
.vercel/
.vscode/*
.yarn-integrity
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.tgz
*.tsbuildinfo
**/reports
# Compact
# Dependency directories
# dotenv environment variables file
# IDEs and editors
# Logs
# MacOS
# Node.js
# Optional eslint cache
# Optional npm cache directory
# Optional REPL history
# Output of 'npm pack'
# Test reports
# TypeScript
# VSCode
# Yarn Integrity file
build/
coverage
dist/
jspm_packages/
logs
logs/*.log
managed/
midnight-level-db
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
